<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorTutorialUdemy</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
       

   
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/learnBlazor/bindProp">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Bind Prop
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/demoProduct">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Demo Product
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="parentComponent">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Parent/Child Relation
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="learnRouting">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Learn Rounting
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="blazorjavascript">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Blazor Javascript
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="blazorLifeCycle">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Blazor Life Cycle
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/category">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Category List
            </NavLink>
        </div>

    </nav>
</div>

